parameters:
	fileExtensions:
		- php

	autoloadDirectories: []
	autoloadFiles: []

	excludeFiles: []

	universalObjectCratesClasses: []

includes:
	- rules.neon

services:
	lexer: PhpParser\Lexer
	parser: PhpParser\Parser\Php7
	neon: Nette\Neon\Neon

	transition:
		class: PHPWander\TransitionFunction
		arguments:
			sourceFunctions: @sourceFunctions
			sinkFunctions: @sinkFunctions
			sanitizerFunctions: @sanitizerFunctions
			taintFunctions: @taintFunctions

	_registryFactory: PHPWander\Rules\RegistryFactory

	_registry:
		class: PHPWander\Rules\Registry
		factory: @_registryFactory::create()

	-
		class: PHPWander\Command\AnalyseApplication
		arguments:
			fileExtensions: %fileExtensions%

	analyser:
		class: PHPWander\Analyser\Analyser
		arguments: [%rootDir%, %fileExtensions%]


	broker:
		class: PHPWander\Broker\Broker

	- PhpParser\PrettyPrinter\Standard

	- PHPStan\Type\FileTypeMapper

	cacheStorage:
		class: PHPStan\Cache\FileCacheStorage
		arguments:
			directory: %tmpDir%/cache/PHPStan
		autowired: no

	-
		class: PHPStan\Cache\Cache
		arguments:
			storage: @cacheStorage


	- PHPStan\Broker\AnonymousClassNameHelper(%currentWorkingDirectory%)

	- PHPStan\Parser\FunctionCallStatementFinder

	- PHPStan\PhpDoc\PhpDocStringResolver
	- PHPStan\PhpDoc\PhpDocNodeResolver
	- PHPStan\PhpDoc\TypeNodeResolver
	- PHPStan\PhpDoc\TypeStringResolver

	- PHPStan\PhpDocParser\Lexer\Lexer
	-
		class: PHPStan\PhpDocParser\Parser\TypeParser
	-
		class: PHPStan\PhpDocParser\Parser\ConstExprParser
	-
		class: PHPStan\PhpDocParser\Parser\PhpDocParser

	- PHPStan\Reflection\Annotations\AnnotationsMethodsClassReflectionExtension
	- PHPStan\Reflection\Annotations\AnnotationsPropertiesClassReflectionExtension
	- PHPStan\Reflection\FunctionReflectionFactory
	- PHPStan\Reflection\Php\PhpMethodReflectionFactory
	- PHPStan\Reflection\Php\PhpClassReflectionExtension
	- PHPStan\Reflection\PhpDefect\PhpDefectClassReflectionExtension
	- PHPStan\Reflection\SignatureMap\SignatureMapParser
	- PHPStan\Reflection\SignatureMap\SignatureMapProvider

	stanBroker:
		class: PHPStan\Broker\Broker
		factory: @brokerFactory::create

	brokerFactory:
		class: PHPStan\Broker\BrokerFactory


	nodeTraverser: PhpParser\NodeTraverser

	- PHPWander\Visitor\IClassFinder

	stanParser: PHPStan\Parser\DirectParser

	sources:
		class: PHPWander\Utils\Configuration(PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/sources.neon))
		autowired: false
	sinks:
		class: PHPWander\Utils\Configuration(PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/sinks.neon))
		autowired: false
	sanitizers:
		class: PHPWander\Utils\Configuration(PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/sanitizers.neon))
		autowired: false
	getTaint:
		class: PHPWander\Utils\Configuration(PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/tainting.neon))
		autowired: false

	sourceFunctions:
		class: PHPWander\SourceFunctions
		arguments: [@sources]
		autowired: false

	sanitizerFunctions:
		class: PHPWander\SanitizerFunctions
		arguments: [@sanitizers]
		autowired: false

	sinkFunctions:
		class: PHPWander\SinkFunctions
		arguments: [@sinks]
		autowired: false

	taintFunctions:
		class: PHPWander\TaintFunctions
		arguments: [@getTaint]
		autowired: false

	fileHelper: PHPStan\File\FileHelper(%currentWorkingDirectory%)
	fileExcluder: PHPStan\File\FileExcluder(@fileHelper, %excludeFiles%)

	cfgParser:
		class: PHPCfg\Parser

	nodeScopeResolver: PHPWander\Analyser\NodeScopeResolver

	wanderDirectParser:
		class: PHPWander\Parser\DirectParser
		autowired: false

	cachedParser: PHPWander\Parser\CachedParser(@wanderDirectParser)

	- PHPWander\Analyser\BlockScopeStorage
	- PHPWander\Analyser\FuncCallStorage

	- PHPWander\Printer\StandardPrinter
	- PHPWander\Describer\StandardDescriber

	errorFormatter.raw:
		class: PHPStan\Command\ErrorFormatter\RawErrorFormatter

	errorFormatter.table:
		class: PHPStan\Command\ErrorFormatter\TableErrorFormatter
