parameters:
	fileExtensions:
		- php

	autoloadDirectories: []
	autoloadFiles: []

	excludeFiles: []

	universalObjectCratesClasses: []

includes:
	- rules.neon

extensions:
	sinks: PHPWander\DI\ExtraExtension('sinkFunctions', 'extra')
	sources: PHPWander\DI\ExtraExtension('sourceFunctions', 'extra')
	sanitizers: PHPWander\DI\ExtraExtension('sanitizerFunctions', 'extra')

services:
	lexer: PhpParser\Lexer
	parser: PhpParser\Parser\Php7
	neon: Nette\Neon\Neon

	transition:
		type: PHPWander\TransitionFunction
		arguments:
			sourceFunctions: @sourceFunctions
			sinkFunctions: @sinkFunctions
			sanitizerFunctions: @sanitizerFunctions
			taintFunctions: @taintFunctions

	_registryFactory: PHPWander\Rules\RegistryFactory

	_registry:
		type: PHPWander\Rules\Registry
		factory: @_registryFactory::create()

	-
		type: PHPWander\Command\AnalyseApplication
		arguments:
			fileExtensions: %fileExtensions%

	analyser:
		type: PHPWander\Analyser\Analyser
		arguments: [%rootDir%, %fileExtensions%]


	broker:
		type: PHPWander\Broker\Broker

	- PhpParser\PrettyPrinter\Standard

	- PHPStan\Type\FileTypeMapper

	cacheStorage:
		type: PHPStan\Cache\FileCacheStorage
		arguments:
			directory: %tmpDir%/cache/PHPStan
		autowired: no

	-
		type: PHPStan\Cache\Cache
		arguments:
			storage: @cacheStorage


	relativePathHelper:
		class: PHPStan\File\RelativePathHelper
		imported: true

	- PHPStan\Broker\AnonymousClassNameHelper

	- PHPStan\Parser\FunctionCallStatementFinder

	- PHPStan\PhpDoc\PhpDocStringResolver
	- PHPStan\PhpDoc\PhpDocNodeResolver
	- PHPStan\PhpDoc\TypeNodeResolver
	- PHPStan\PhpDoc\TypeStringResolver

	- PHPStan\PhpDocParser\Lexer\Lexer
	- PHPStan\PhpDocParser\Parser\TypeParser
	- PHPStan\PhpDocParser\Parser\ConstExprParser
	- PHPStan\PhpDocParser\Parser\PhpDocParser

	- PHPStan\Reflection\Annotations\AnnotationsMethodsClassReflectionExtension
	- PHPStan\Reflection\Annotations\AnnotationsPropertiesClassReflectionExtension
	- PHPStan\Reflection\FunctionReflectionFactory
	- PHPStan\Reflection\Php\PhpMethodReflectionFactory
	- PHPStan\Reflection\Php\PhpClassReflectionExtension
	- PHPStan\Reflection\PhpDefect\PhpDefectClassReflectionExtension
	- PHPStan\Reflection\SignatureMap\SignatureMapParser
	- PHPStan\Reflection\SignatureMap\SignatureMapProvider

	stanBroker:
		type: PHPStan\Broker\Broker
		factory: @brokerFactory::create

	brokerFactory:
		type: PHPStan\Broker\BrokerFactory


	nodeTraverser: PhpParser\NodeTraverser

	- PHPWander\Visitor\IClassFinder

	stanParser: PHPStan\Parser\DirectParser

	sources:
		factory: PHPWander\Utils\Configuration
		arguments:
		    - PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/sources.neon)
		autowired: false
	sinks:
		factory: PHPWander\Utils\Configuration
		arguments:
		    - PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/sinks.neon)
		autowired: false
	sanitizers:
		factory: PHPWander\Utils\Configuration
		arguments:
		    - PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/sanitizers.neon)
		autowired: false
	getTaint:
		factory: PHPWander\Utils\Configuration
		arguments:
		    - PHPWander\Utils\ConfigurationLoaders\Neon(%rootDir%/config/tainting.neon)
		autowired: false

	sourceFunctions:
		type: PHPWander\SourceFunctions
		arguments: [@sources]
		autowired: false

	sanitizerFunctions:
		type: PHPWander\SanitizerFunctions
		arguments: [@sanitizers]
		autowired: false

	sinkFunctions:
		type: PHPWander\SinkFunctions
		arguments: [@sinks]
		autowired: false

	taintFunctions:
		type: PHPWander\TaintFunctions
		arguments: [@getTaint]
		autowired: false

	fileHelper: PHPStan\File\FileHelper(%currentWorkingDirectory%)
	fileExcluder: PHPStan\File\FileExcluder(@fileHelper, %excludeFiles%)

	cfgParser:
		type: PHPCfg\Parser

	nodeScopeResolver: PHPWander\Analyser\NodeScopeResolver

	wanderDirectParser:
		type: PHPWander\Parser\DirectParser
		autowired: false

	cachedParser: PHPWander\Parser\CachedParser(@wanderDirectParser)

	- PHPWander\Analyser\BlockScopeStorage
	- PHPWander\Analyser\FuncCallStorage

	- PHPWander\Printer\StandardPrinter
	- PHPWander\Describer\StandardDescriber

	errorFormatter.raw:
		type: PHPStan\Command\ErrorFormatter\RawErrorFormatter

	errorFormatter.table:
		type: PHPStan\Command\ErrorFormatter\TableErrorFormatter
