services:
	- PHPWander\Rules\XSS\Echo_
	- PHPWander\Rules\XSS\Print_
	- PHPWander\Rules\XSS\Exit_
	- PHPWander\Rules\VariableFunctionCalled
	- PHPWander\Rules\FileInclusion
	- PHPWander\Rules\FuncCallFactory(@sinkFunctions)
	- PHPWander\Rules\Eval_

decorator:
	PHPWander\Rules\Rule:
		tags: [phpwander.rules.rule]
