includes:
	- sanitizers.neon

xss:
	#echo: [[0], %xss%]
	#print: [[1], %xss%]
	print_r: [[1], %xss%]
	#exit: [[1], %xss%]
	#die: [[1], %xss%]
	printf: [[0], %xss%]
	vprintf: [[0], %xss%]
	trigger_error: [[1], %xss%]
	user_error: [[1], %xss%]
	odbc_result_all: [[2], %xss%]
	ovrimos_result_all: [[2], %xss%]
	ifx_htmltbl_result: [[2], %xss%]

headers:
	header: [[1], []]

sessionFixation:
	setcookie: [[2], []]
	setrawcookie: [[2], []]
	session_id: [[1], []]

codeExecution:
	assert: [[1], []]
	create_function: [[1,2], []]
	eval: [[1], []]
	mb_ereg_replace: [[1,2], %preg%]
	mb_eregi_replace: [[1,2], %preg%]
	preg_filter: [[1,2], %preg%]
	preg_replace: [[1,2], %preg%]
	preg_replace_callback: [[1], %preg%]

reflectionInjection:
	event_buffer_new: [[2,3,4], []]
	event_set: [[4], []]
	iterator_apply: [[2], []]
	forward_static_call: [[1], []]
	forward_static_call_array: [[1], []]
	call_user_func: [[1], []]
	call_user_func_array: [[1], []]
	array_diff_uassoc: [[3], []]
	array_diff_ukey: [[3], []]
	array_filter: [[2], []]
	array_intersect_uassoc: [[3], []]
	array_intersect_ukey: [[3], []]
	array_map: [[1], []]
	array_reduce: [[2], []]
	array_udiff: [[3], []]
	array_udiff_assoc: [[3], []]
	array_udiff_uassoc: [[3,4], []]
	array_uintersect: [[3], []]
	array_uintersect_assoc: [[3], []]
	array_uintersect_uassoc: [[3,4], []]
	array_walk: [[2], []]
	array_walk_recursive: [[2], []]
	assert_options: [[2], []]
	ob_start: [[1], []]
	register_shutdown_function: [[1], []]
	register_tick_function: [[1], []]
	runkit_method_add: [[1,2,3,4], []]
	runkit_method_copy: [[1,2,3], []]
	runkit_method_redefine: [[1,2,3,4], []]
	runkit_method_rename: [[1,2,3], []]
	runkit_function_add: [[1,2,3], []]
	runkit_function_copy: [[1,2], []]
	runkit_function_redefine: [[1,2,3], []]
	runkit_function_rename: [[1,2], []]
	session_set_save_handler: [[1,2,3,4,5], []]
	set_error_handler: [[1], []]
	set_exception_handler: [[1], []]
	spl_autoload: [[1], []]
	spl_autoload_register: [[1], []]
	sqlite_create_aggregate: [[2,3,4], []]
	sqlite_create_function: [[2,3], []]
	stream_wrapper_register: [[2], []]
	uasort: [[2], []]
	uksort: [[2], []]
	usort: [[2], []]
	yaml_parse: [[4], []]
	yaml_parse_file: [[4], []]
	yaml_parse_url: [[4], []]
	eio_busy: [[3], []]
	eio_chmod: [[4], []]
	eio_chown: [[5], []]
	eio_close: [[3], []]
	eio_custom: [[1,2], []]
	eio_dup2: [[4], []]
	eio_fallocate: [[6], []]
	eio_fchmod: [[4], []]
	eio_fchown: [[5], []]
	eio_fdatasync: [[3], []]
	eio_fstat: [[3], []]
	eio_fstatvfs: [[3], []]
	preg_replace_callback: [[2], []]
	dotnet_load: [[1], []]

fileInclusion:
	include: [[1], %file%]
	include_once: [[1], %file%]
	parsekit_compile_file: [[1], %file%]
	php_check_syntax: [[1], %file%]
	require: [[1], %file%]
	require_once: [[1], %file%]
	runkit_import: [[1], %file%]
	set_include_path: [[1], %file%]
	virtual: [[1], %file%]

fileDisclosure:
	bzread: [[1], %file%]
	bzflush: [[1], %file%]
	dio_read: [[1], %file%]
	eio_readdir: [[1], %file%]
	fdf_open: [[1], %file%]
	file: [[1], %file%]
	file_get_contents: [[1], %file%]
	finfo_file: [[1,2], []]
	fflush: [[1], %file%]
	fgetc: [[1], %file%]
	fgetcsv: [[1], %file%]
	fgets: [[1], %file%]
	fgetss: [[1], %file%]
	fread: [[1], %file%]
	fpassthru: [[1,2], []]
	fscanf: [[1], %file%]
	ftok: [[1], %file%]
	get_meta_tags: [[1], %file%]
	glob: [[1], []]
	gzfile: [[1], %file%]
	gzgetc: [[1], %file%]
	gzgets: [[1], %file%]
	gzgetss: [[1], %file%]
	gzread: [[1], %file%]
	gzpassthru: [[1], %file%]
	highlight_file: [[1], %file%]
	imagecreatefrompng: [[1], %file%]
	imagecreatefromjpg: [[1], %file%]
	imagecreatefromgif: [[1], %file%]
	imagecreatefromgd2: [[1], %file%]
	imagecreatefromgd2part: [[1], %file%]
	imagecreatefromgd: [[1], %file%]
	opendir: [[1], %file%]
	parse_ini_file: [[1], %file%]
	php_strip_whitespace: [[1], %file%]
	readfile: [[1], %file%]
	readgzfile: [[1], %file%]
	readlink: [[1], %file%]
	# stat: [[1], []]
	scandir: [[1], %file%]
	show_source: [[1], %file%]
	simplexml_load_file: [[1], %file%]
	stream_get_contents: [[1], %file%]
	stream_get_line: [[1], %file%]
	xdiff_file_bdiff: [[1,2], %file%]
	xdiff_file_bpatch: [[1,2], %file%]
	xdiff_file_diff_binary: [[1,2], %file%]
	xdiff_file_diff: [[1,2], %file%]
	xdiff_file_merge3: [[1,2,3], %file%]
	xdiff_file_patch_binary: [[1,2], %file%]
	xdiff_file_patch: [[1,2], %file%]
	xdiff_file_rabdiff: [[1,2], %file%]
	yaml_parse_file: [[1], %file%]
	zip_open: [[1], %file%]

fileManipulation:
	bzwrite: [[2], []]
	chmod: [[1], %file%]
	chgrp: [[1], %file%]
	chown: [[1], %file%]
	copy: [[1], []]
	dio_write: [[1,2], []]
	eio_chmod: [[1], %file%]
	eio_chown: [[1], %file%]
	eio_mkdir: [[1], %file%]
	eio_mknod: [[1], %file%]
	eio_rmdir: [[1], %file%]
	eio_write: [[1,2], []]
	eio_unlink: [[1], %file%]
	error_log: [[3], %file%]
	event_buffer_write: [[2], []]
	file_put_contents: [[1,2], %file%]
	fputcsv: [[1,2], %file%]
	fputs: [[1,2], %file%]
	fprintf: [[0], []]
	ftruncate: [[1], %file%]
	fwrite: [[1,2], %file%]
	gzwrite: [[1,2], []]
	gzputs: [[1,2], []]
	loadXML: [[1], []]
	mkdir: [[1], []]
	move_uploaded_file: [[1,2], %file%]
	posix_mknod: [[1], %file%]
	recode_file: [[2,3], %file%]
	rename: [[1,2], %file%]
	rmdir: [[1], %file%]
	shmop_write: [[2], []]
	touch: [[1], %file%]
	unlink: [[1], %file%]
	vfprintf: [[0], []]
	xdiff_file_bdiff: [[3], %file%]
	xdiff_file_bpatch: [[3], %file%]
	xdiff_file_diff_binary: [[3], %file%]
	xdiff_file_diff: [[3], %file%]
	xdiff_file_merge3: [[4], %file%]
	xdiff_file_patch_binary: [[3], %file%]
	xdiff_file_patch: [[3], %file%]
	xdiff_file_rabdiff: [[3], %file%]
	yaml_emit_file: [[1,2], %file%]

commandExecution:
	backticks: [[1], %system%] # transformed during parsing
	exec: [[1], %system%]
	expect_popen: [[1], %system%]
	passthru: [[1], %system%]
	pcntl_exec: [[1], %system%]
	popen: [[1], %system%]
	proc_open: [[1], %system%]
	shell_exec: [[1], %system%]
	system: [[1], %system%]
	mail: [[5], []] # http://esec-pentest.sogeti.com/web/using-mail-remote-code-execution
	mb_send_mail: [[5], []]
	w32api_invoke_function: [[1], []]
	w32api_register_function: [[2], []]

sqlInjection:
	# Abstraction Layers
	dba_open: [[1], []]
	dba_popen: [[1], []]
	dba_insert: [[1,2], []]
	dba_fetch: [[1], []]
	dba_delete: [[1], []]
	dbx_query: [[2], %sql%]
	odbc_do: [[2], %sql%]
	odbc_exec: [[2], %sql%]
	odbc_execute: [[2], %sql%]
	# Vendor Specific
	db2_exec: [[2], %sql%]
	db2_execute: [[2], %sql%]
	fbsql_db_query: [[2], %sql%]
	fbsql_query: [[1], %sql%]
	ibase_query: [[2], %sql%]
	ibase_execute: [[1], %sql%]
	ifx_query: [[1], %sql%]
	ifx_do: [[1], %sql%]
	ingres_query: [[2], %sql%]
	ingres_execute: [[2], %sql%]
	ingres_unbuffered_query: [[2], %sql%]
	msql_db_query: [[2], %sql%]
	msql_query: [[1], %sql%]
	msql: [[2], %sql%]
	mssql_query: [[1], %sql%]
	mssql_execute: [[1], %sql%]
	mysql_db_query: [[2], %sql%]
	mysql_query: [[1], %sql%]
	mysql_unbuffered_query: [[1], %sql%]
	mysqli_stmt_execute: [[1], %sql%]
	mysqli_query: [[2], %sql%]
	mysqli_real_query: [[1], %sql%]
	mysqli_master_query: [[2], %sql%]
	oci_execute: [[1], []]
	ociexecute: [[1], []]
	ovrimos_exec: [[2], %sql%]
	ovrimos_execute: [[2], %sql%]
	ora_do: [[2], []]
	ora_exec: [[1], []]
	pg_query: [[2], %sql%]
	pg_send_query: [[2], %sql%]
	pg_send_query_params: [[2], %sql%]
	pg_send_prepare: [[3], %sql%]
	pg_prepare: [[3], %sql%]
	sqlite_open: [[1], %sql%]
	sqlite_popen: [[1], %sql%]
	sqlite_array_query: [[1,2], %sql%]
	arrayQuery: [[1,2], %sql%]
	singleQuery: [[1], %sql%]
	sqlite_query: [[1,2], %sql%]
	sqlite_exec: [[1,2], %sql%]
	sqlite_single_query: [[2], %sql%]
	sqlite_unbuffered_query: [[1,2], %sql%]
	sybase_query: [[1], %sql%]
	sybase_unbuffered_query: [[1], %sql%]

xpathInjection:
	xpath_eval: [[2], %xpath%]
	xpath_eval_expression: [[2], %xpath%]
	xptr_eval: [[2], %xpath%]

ldapInjection:
	ldap_add: [[2,3], %ldap%]
	ldap_delete: [[2], %ldap%]
	ldap_list: [[3], %ldap%]
	ldap_read: [[3], %ldap%]
	ldap_search: [[3], %ldap%]

protocolInjection:
	curl_setopt: [[2,3], []]
	curl_setopt_array: [[2], []]
	cyrus_query: [[2], []]
	error_log: [[3], []]
	fsockopen: [[1], []]
	ftp_chmod: [[2,3], []]
	ftp_exec: [[2], []]
	ftp_delete: [[2], []]
	ftp_fget: [[3], []]
	ftp_get: [[2,3], []]
	ftp_nlist: [[2], []]
	ftp_nb_fget: [[3], []]
	ftp_nb_get: [[2,3], []]
	ftp_nb_put: [[2], []]
	ftp_put: [[2,3], []]
	get_headers: [[1], []]
	imap_open: [[1], []]
	imap_mail: [[1], []]
	mail: [[1,4], []]
	mb_send_mail: [[1,4], []]
	ldap_connect: [[1], []]
	msession_connect: [[1], []]
	pfsockopen: [[1], []]
	session_register: [[0], []]
	socket_bind: [[2], []]
	socket_connect: [[2], []]
	socket_send: [[2], []]
	socket_write: [[2], []]
	stream_socket_client: [[1], []]
	stream_socket_server: [[1], []]
	printer_open: [[1], []]

controlFlow:
	dl: [[1], []]
	ereg: [[2], []] # nullbyte injection affected
	eregi: [[2], []] # nullbyte injection affected
	ini_set: [[1,2], []]
	ini_restore: [[1], []]
	runkit_constant_redefine: [[1,2], []]
	runkit_method_rename: [[1,2,3], []]
	sleep: [[1], []]
	usleep: [[1], []]
	extract: [[1], []]
	mb_parse_str: [[1], []]
	parse_str: [[1], []]
	putenv: [[1], []]
	set_include_path: [[1], []]
	apache_setenv: [[1,2], []]
	define: [[1], []]
	is_a: [[1], []] # calls __autoload()

objectInjection:
	unserialize: [[1], []] # calls gadgets
	yaml_parse: [[1], []] # calls unserialize
