string:
	- base64_decode
	- htmlspecialchars_decode
	- html_entity_decode
	- bzdecompress
	- chr
	- convert_uudecode
	- gzdecode
	- gzinflate
	- gzuncompress
	- lzf_decompress
	- rawurldecode
	- urldecode
	- zlib_decode
	- imap_base64
	- imap_utf7_decode
	- imap_mime_header_decode
	- iconv_mime_decode
	- iconv_mime_decode_headers
	- hex2bin
	- quoted_printable_decode
	- imap_qprint
	- mb_decode_mimeheader
	- bson_decode
	- sqlite_udf_decode_binary
	- utf8_decode
	- recode_string
	- recode
